openapi: 3.2.0
info:
  title: Service Fusion Open Estimates API
  description: The Service Fusion Open API is a REST/JSON interface to Service Fusion field service management (FSM) software for home-service contractors.
  version: '1.0'
  contact:
    name: Service Fusion
    url: https://www.servicefusion.com
servers:
- url: https://api.servicefusion.com/v1
  description: Service Fusion Open API v1
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Estimates
  description: Estimates (quotes) presented to customers before work begins.
paths:
  /estimates:
    get:
      operationId: listEstimates
      tags:
      - Estimates
      summary: List estimates
      description: Lists estimates (quotes), with filtering, sorting, and pagination.
      parameters:
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Expand'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of estimates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createEstimate
      tags:
      - Estimates
      summary: Create an estimate
      description: Creates a new estimate for a customer with line items.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateInput'
      responses:
        '201':
          description: The created estimate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /estimates/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getEstimate
      tags:
      - Estimates
      summary: Retrieve an estimate
      description: Retrieves a single estimate by ID.
      responses:
        '200':
          description: The requested estimate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    PerPage:
      name: per-page
      in: query
      required: false
      description: Number of records per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Expand:
      name: expand
      in: query
      required: false
      description: Comma-separated list of related resources to inline in the response.
      schema:
        type: string
    Sort:
      name: sort
      in: query
      required: false
      description: Sort field, optionally prefixed with - for descending order (for example sort=-start_date). Required on /jobs list requests.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number for pagination.
      schema:
        type: integer
        minimum: 1
        default: 1
    Filters:
      name: filters
      in: query
      required: false
      description: Field filters, expressed as filters[field]=value (for example filters[status]=open). Repeat for multiple fields.
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties:
          type: string
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
  schemas:
    EstimateInput:
      type: object
      required:
      - customer_name
      properties:
        customer_name:
          type: string
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
    EstimateList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Estimate'
        _meta:
          $ref: '#/components/schemas/Pagination'
    LineItem:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        quantity:
          type: number
        unit_price:
          type: number
        taxable:
          type: boolean
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Estimate:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        customer_name:
          type: string
        status:
          type: string
        total:
          type: number
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        created_at:
          type: string
          format: date-time
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request body failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Access tokens are issued at https://api.servicefusion.com/oauth/access_token.
      flows:
        authorizationCode:
          authorizationUrl: https://api.servicefusion.com/oauth/authorize
          tokenUrl: https://api.servicefusion.com/oauth/access_token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.servicefusion.com/oauth/access_token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer access token obtained via the OAuth 2.0 token endpoint.
