openapi: 3.0.3
info:
  title: Service Fusion Open Calendar Tasks API
  description: 'The Service Fusion Open API is a REST/JSON interface to Service Fusion field service management (FSM) software for home-service contractors. It exposes the core operational records - customers and their contacts, jobs (work orders), estimates, invoices, payments, the product/service catalog, technicians, and calendar tasks - over HTTPS. Requests are authenticated with OAuth 2.0; obtain an access token from the token endpoint at https://api.servicefusion.com/oauth/access_token using an authorization_code or client_credentials grant, then send it as a Bearer token. API access is available on the Service Fusion Pro plan and is rate limited to roughly 60 requests per minute.

    Grounding note - customers, jobs, estimates, invoices, and techs are documented resources on the Service Fusion API. Contacts, products, services, payments, and calendar tasks are modeled here from the Service Fusion FSM data model and the platform''s read-and-create API conventions; verify exact paths, fields, and available methods against the live reference at https://docs.servicefusion.com/ before production use. In practice the public API is read-and-create heavy - list (GET), retrieve (GET), and create (POST) are the reliably available operations; update (PUT) and delete (DELETE) are not consistently exposed across resources.'
  version: '1.0'
  contact:
    name: Service Fusion
    url: https://www.servicefusion.com
servers:
- url: https://api.servicefusion.com/v1
  description: Service Fusion Open API v1
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Calendar Tasks
  description: Non-job scheduled calendar items and reminders.
paths:
  /calendar-tasks:
    get:
      operationId: listCalendarTasks
      tags:
      - Calendar Tasks
      summary: List calendar tasks
      description: Lists non-job calendar tasks such as reminders and follow-ups.
      parameters:
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of calendar tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarTaskList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCalendarTask
      tags:
      - Calendar Tasks
      summary: Create a calendar task
      description: Creates a new calendar task, optionally assigned to a tech or user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarTaskInput'
      responses:
        '201':
          description: The created calendar task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarTask'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  schemas:
    CalendarTaskList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CalendarTask'
        _meta:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    CalendarTask:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        assigned_to:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    CalendarTaskInput:
      type: object
      required:
      - title
      properties:
        title:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        assigned_to:
          type: string
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number for pagination.
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPage:
      name: per-page
      in: query
      required: false
      description: Number of records per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Filters:
      name: filters
      in: query
      required: false
      description: Field filters, expressed as filters[field]=value (for example filters[status]=open). Repeat for multiple fields.
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties:
          type: string
    Sort:
      name: sort
      in: query
      required: false
      description: Sort field, optionally prefixed with - for descending order (for example sort=-start_date). Required on /jobs list requests.
      schema:
        type: string
  responses:
    ValidationError:
      description: The request body failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Access tokens are issued at https://api.servicefusion.com/oauth/access_token.
      flows:
        authorizationCode:
          authorizationUrl: https://api.servicefusion.com/oauth/authorize
          tokenUrl: https://api.servicefusion.com/oauth/access_token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.servicefusion.com/oauth/access_token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer access token obtained via the OAuth 2.0 token endpoint.
