openapi: 3.2.0
info:
  title: Service Fusion Open Techs and Users API
  description: The Service Fusion Open API is a REST/JSON interface to Service Fusion field service management (FSM) software for home-service contractors.
  version: '1.0'
  contact:
    name: Service Fusion
    url: https://www.servicefusion.com
servers:
- url: https://api.servicefusion.com/v1
  description: Service Fusion Open API v1
security:
- oauth2: []
- bearerAuth: []
tags:
- name: Techs and Users
  description: Technicians and users the work is assigned to.
paths:
  /techs:
    get:
      operationId: listTechs
      tags:
      - Techs and Users
      summary: List techs and users
      description: Lists the technicians and users in the account.
      parameters:
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of techs and users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /techs/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getTech
      tags:
      - Techs and Users
      summary: Retrieve a tech
      description: Retrieves a single technician or user by ID.
      responses:
        '200':
          description: The requested tech or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tech'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    PerPage:
      name: per-page
      in: query
      required: false
      description: Number of records per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Filters:
      name: filters
      in: query
      required: false
      description: Field filters, expressed as filters[field]=value (for example filters[status]=open). Repeat for multiple fields.
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties:
          type: string
    Sort:
      name: sort
      in: query
      required: false
      description: Sort field, optionally prefixed with - for descending order (for example sort=-start_date). Required on /jobs list requests.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number for pagination.
      schema:
        type: integer
        minimum: 1
        default: 1
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    TechList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Tech'
        _meta:
          $ref: '#/components/schemas/Pagination'
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Tech:
      type: object
      properties:
        id:
          type: string
        fname:
          type: string
        lname:
          type: string
        email:
          type: string
        phone:
          type: string
        role:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. Access tokens are issued at https://api.servicefusion.com/oauth/access_token.
      flows:
        authorizationCode:
          authorizationUrl: https://api.servicefusion.com/oauth/authorize
          tokenUrl: https://api.servicefusion.com/oauth/access_token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.servicefusion.com/oauth/access_token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer access token obtained via the OAuth 2.0 token endpoint.
